<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--&lt;!&ndash; <configuration debug="true"> &ndash;&gt;-->
<configuration>

    <!--	&lt;!&ndash; LOCAL &ndash;&gt;-->

    <!--	&lt;!&ndash; 외부 설정파일을 사용 &ndash;&gt;-->
    <property resource="logback.properties"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.gngsn" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

<!--    <logger name="jdbc.sqltiming" additivity="false">-->
<!--        <level value="warn"/>-->
<!--        <appender-ref ref="console"/>-->
<!--    </logger>-->

    <logger name="jdbc.sqlonly" additivity="false">
        <level value="info"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.audit" additivity="false">
        <level value="warn"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.resultset" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.resultsettable" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
    </root>
</configuration>