<!DOCTYPE html>
<html lang="ko-kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <section class="section">

        <th:block th:each="article : ${articles}">
            <article class="card mb-4">
                <div class="card-body">
                    <h3 class="h4 mb-3">
                        <a href="/article/{{slug}}" th:text="${article.title}"></a>
                    </h3>
                    <ul class="card-meta list-inline">
                        <li class="list-inline-item">
                            <a href="author-single.html" class="card-meta-author">
                                <strong th:text="${article.author.firstname}"></strong>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-calendar"></i>
                            <strong th:text="${article.addedAt}"></strong>
                        </li>
                        <li class="list-inline-item">
                            <ul class="card-meta-tag list-inline">
                                <li class="list-inline-item"><a href="#">Wow</a></li>
                                <li class="list-inline-item"><a href="#">Useful</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p th:text="${article.headline}"></p>
                    <a th:href="@{/article/{slug}(slug = ${article.slug})}" class="btn btn-outline-primary">Read
                        More</a>
                </div>
            </article>
        </th:block>
    </section>
</th:block>
</html>