<!DOCTYPE html>
<html lang="ko-kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <section class="section">
        <article class="card mb-4">
            <div class="card-body">
                <h3 class="h4 mb-3" th:text="${article.title}"></h3>
                <ul class="card-meta list-inline">
                    <li class="list-inline-item">
                        <a href="author-single.html" class="card-meta-author">
                            <strong th:text="${article.author.firstname}"></strong>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <i class="ti-calendar"></i>
                        <strong th:text="${article.addedAt}"></strong>
                    </li>
                </ul>
                <p th:text="${article.content}" style="height: 30vh"></p>
            </div>
        </article>
    </section>
</th:block>
</html>