<!DOCTYPE html>
<html lang="ko-kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <div layout:replace="~{movies/banner}"></div>
    <section class="section-sm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 mb-lg-0">
                    <h2 class="h5 section-title">Movies</h2>
                    <div th:if="movieList != null"
                         th:each="row : ${#numbers.sequence(0, #lists.size(movieList), 3)}"
                         class="row">
                        <div th:each="col : ${#numbers.sequence(row, row + 2)}" class="col-lg-4 col-sm-6">
                            <th:block th:if="${col < #lists.size(movieList)}"
                                      th:with="movie=${movieList[col]}">

                                <article class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h4 mb-3">
                                            <a class="post-title" th:href="${movie.homepage}">
                                                <h3 th:text="${movie.title}"></h3>
                                            </a>
                                        </h3>
                                        <ul class="card-meta list-inline">
                                            <li class="list-inline-item">
                                                <a href="author-single.html"
                                                   class="card-meta-author">
                                                    <img src="images/kate-stone.jpg"
                                                         alt="Kate Stone">
                                                    <span>Kate Stone</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="ti-timer"></i>
                                                <span th:text="${movie.runtime}"></span>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="ti-calendar"></i>
                                                <span th:text="${movie.releaseDate}"></span>
                                            </li>
                                            <li class="list-inline-item">
                                                <ul class="card-meta-tag list-inline">
                                                    <li class="list-inline-item"><a
                                                            href="tags.html">Wow</a></li>
                                                    <li class="list-inline-item"><a
                                                            href="tags.html">Tasty</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <p th:text="${movie.overview}"></p>
                                        <a href="post-details.html" class="btn btn-outline-primary">Read More</a>
                                    </div>
                                </article>

                            </th:block>

                        </div>
                    </div>
                </div>
                <ul class="pagination justify-content-center">
                    <li th:if="${paging.page-1 > paging.minPage}" class="page-item page-item">
                        <a href="#!" class="page-link">≪</a>
                    </li>

                    <li class="page-item page-item"
                        th:each="page: ${#numbers.sequence(paging.minPage, paging.maxPage)}"
                        th:classappend="${paging.page == page? 'active': ''}">

                        <a th:href="@{/movies(page=${page}, size=${paging.size})}" class="page-link">
                            <span th:text="${page+1}"></span>
                        </a>
                    </li>

                    <li th:if="${paging.page +1 < paging.maxPage}" class="page-item page-item">
                        <a href="#!" class="page-link">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>